<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      {{#each movies}}
      <li class="span4">
          <a href="movies/{{slug}}" class="thumbnail">
            <img src="{{poster_url}}" />
            <h5>{{title}}</h5>
          </a>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<style>
/*<![CDATA[*/
  html {
    background: url(/assets/backdrop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/backdrop.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/backdrop.jpg', sizingMethod='scale')";
  }
  body {
    background: none;
  }
/*]]>*/
</style>