%script{:type => 'text/template', :id => 'movie-details'}
  = render partial: 'movie_details'

%script{:type => 'text/template', :id => 'movie-list'}
  = render partial: 'movie_list'

- content_for :footer do
  :javascript
    Movies.reset(#{@movies.to_json});

