- page_title 'About'
.row
  .span12
    %h1 About Check a Film
    %p Check a Film is written and operated by Jacob Gillespie
    %p
      Feel free to
      = link_to 'get in touch', 'mailto:mail@jacobwg.com', target: '_blank'
      if you're interested.