<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<video id="example_video_1" class="video-js vjs-default-skin" controls width="640" height="480" data-setup='{"techOrder":["youtube","html5"]}'>
  <source src="http://www.youtube.com/watch?v=GROmJWb-3wU" type='video/youtube'>
</video>


<object width="680" height="329"><param name="movie" value="http://www.traileraddict.com/emd/59535"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><param name="allowfullscreen" value="true"></param><embed src="http://www.traileraddict.com/emd/59535" type="application/x-shockwave-flash" wmode="transparent" allowfullscreen="true" allowscriptaccess="always" width="680" height="329"></embed></object>